sys_todoslosvuelos/src/main/app/sys_implementacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://mu.mulesoft-training.com/essentials/delta?wsdl" service="TicketServiceService" port="TicketServicePort" serviceAddress="http://mule-worker-training-u.cloudhub.io:8081/essentials/delta" doc:name="Web Service Consumer"/>
    <flow name="DeltaTodoslosVuelos">
    
        <ws:consumer config-ref="Web_Service_Consumer" doc:name="Web Service Consumer" operation="listAllFlights"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\listAllFlightsResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---

payload.ns0#listAllFlightsResponse.*return map ((return,indexOfReturn)->{
	 aerolinea: return.airlineName,
	 codigoVuelo: return.code,
	 destino: return.destination,
	 origen: return.origin,
	 fechadeSalida: return.departureDate,
	 asientosDisponibles: return.emptySeats,
	 tipoAvion: return.planeType,
	 precio: return.price
	
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="implementacion_vuelos_con_destinoFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: inboundProperties."http.query.params".destino
	}
}]]></dw:set-payload>
        </dw:transform-message>

        <ws:consumer config-ref="Web_Service_Consumer" operation="findFlight" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
	aerolinea: return.airlineName,
	asientosDisponibles: return.emptySeats,
	codigoVuelo: return.code,
	destino: return.destination,
	fechadeSalida: return.departureDate,
	origen: return.origin,
	precio: return.price,
	tipoAvion: return.planeType
})]]></dw:set-payload>
        </dw:transform-message>

    </flow>
</mule>
